.Footer {
  background-color: #e6e6e6;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  flex-wrap: wrap;
}

.footerLeft {
  display: flex;
  flex-direction: column;
}

.footerLeft ul {
  display: ruby;
  list-style: none;
  padding: 20px;
  margin: 3px 0 0 0;
  flex-wrap: wrap;
}

.footerLeft ul li {
  margin-right: 10px;
}

.footerLeft a {
  color: #333;
  text-decoration: none;
}

.footerLeft a:hover {
  text-decoration: underline;
}

.footerRight a {
  margin: 0 8px;
  color: #666;
  font-size: 30px;
  text-decoration: none;
}

.footerRight a:hover {
  color: #000;
}
.footer {
  background-color: #c1bdbd;
}
.title {
  margin-top: 25px;
}

.footerRight {
  padding-top: 5px;
  padding-bottom: 10px;
}
